html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f6f5f5;
  color: #343434;
}

.custom-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  background-color: #393e46;
  height: 5rem;
  color: #f6f5f5;
}

.about-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.about-icons {
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.about-me {
  width: 100%;
  /* text-align: center; */
  font-weight: 400;
  font-size: 1.1rem;
  /* width: 30rem; */
  padding: 0 1rem;
  margin: 0 1rem;
}

#contact .social-contacts span {
  color: #1f3c88;
}

#contact .social-contacts span:hover {
  color: #405588;
}

.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 3rem 3rem 3rem;
}
.content-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #343434;
}

.custom-container {
  margin: 3rem;
}

.footer {
  width: 100%;
  justify-content: center;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
}

.learn-icon {
  width: 8rem;
  border-radius: 5rem;
}

.mail-btn {
  margin: 1rem;

  border-style: solid;
  border-radius: 1rem;
  color: #343434;
  text-decoration: none;
  padding: 1rem;
  border-width: 3px;
  border-color: #343434;
  background-color: #ffffff;
}

.mail-btn:hover {
  box-shadow: 0 0 5px -2px #393e46;
  color: #ff4b5c;
}

.nav-body {
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  /* align-items: flex-end; */
}

.nav-item {
  margin: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: #f6f5f5;
}

.nav-item a:hover {
  color: #ff4b5c;
  cursor: pointer;
}

.portfolio-header {
  height: 100vh;
  background: no-repeat center/cover url('/images/bg-header.png');
}

.profile-container {
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 8rem;
  height: auto;
}

.project-container {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
}

.project-card-image img {
  width: 100%;
}

.project-card {
  margin: 2rem;
  /* padding: 0.5rem; */
  background-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 0 5px -2px #393e46;

  /* display: flex; */
}

.project-card-body {
  display: flex;
  flex-flow: column;
}

.project-card-footer {
  margin: 0.5rem;
}

.project-card-left {
  padding: 0;
}

.project-card-right {
  margin: 1rem;
}

.project-card-links {
  display: flex;
  flex-direction: column;
}

.project-card-links a {
  text-decoration: none;
  font-weight: bold;
  color: #2950b3;
  margin-top: 0.2rem;
}

.project-card-links a:hover {
  cursor: pointer;
  color: #1f3c88;
}

.project-card-tags ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-flow: row wrap;
}

.project-card-tags li {
  margin: 0.5rem;
  font-size: 0.9rem;
  padding: 0.3rem;
  border-radius: 0.5rem;
  color: #f6f5f5;
  background-color: #ff4b5c;
}

.project-summary {
  margin: 1rem 1rem 0 1rem;
  line-height: 1.5rem;
}

.project-title {
  text-align: center;
}

.skills img {
  border-radius: 100%;
  width: 100%;
}

.social-contacts ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.social-contacts span {
  margin: 1rem;
  color: #eeeeee;
  font-size: 2rem;
}

.social-contacts span:hover {
  color: #d1cccc;
  cursor: pointer;
}

.welcome-text {
  font-size: 1.7rem;
  text-align: center;
  color: #f6f5f5;
  line-height: 2.6rem;
  margin-top: 0;
  background-color: #00000060;
  border-radius: 1%;
  padding: 0.5rem;
}

.job-type {
  color: #ff4b5c;
}

.profile-btn {
  border: none;
  border-radius: 3%;
  padding: 0.7rem 2rem;
  background-color: #2950b3;
  color: #f6f5f5;
  text-decoration: none;
}
.profile-btn:hover {
  background-color: #1f3c88;

  cursor: pointer;
}

.profile-btn:focus {
  outline: none;
}

h2 {
  font-weight: 300;
}

@media only screen and (min-width: 800px) {
  .profile-img {
    width: 10rem;
  }

  .welcome-text {
    font-size: 2rem;
  }
  .profile-btn {
    padding: 1rem 2.3rem;
    font-size: 1rem;
  }

  .project-container {
    flex-flow: row wrap;
  }

  .project-card {
    width: 400px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 3%;
    display: flex;
    flex-flow: column;
  }

  .about-me {
    width: 32%;
  }

  .about-container {
    flex-flow: row wrap;
  }
}
